<aside class="summary" style="display:flex;flex-direction:column;align-items:center;color:#bbbbbb">
    <div class="strikeout">lag</div>
    <div class="strikeout">bloat</div>
    <div class="strikeout">automagic</div>
    <div class="strikeout">frameworks</div>
    <div class="strikeout">virtual machines</div>
    <div class="strikeout">infested stacktraces</div>
</aside>

<aside class="summary"> 
    Just x-platform, native, easy to debug code <br/> from your favourite source language
</aside>