<nav class='quick-links lozenge'>
    <a href='{{ site.baseurl }}'>
        <span title='Home'>
            <img src='{{ site.baseurl }}images/home.png' alt='Home logo'/>
        </span>
    </a>
    <a href='{{ site.github.repository_url }}' target="_blank">
        <span title='Github'>
            <img src='{{ site.baseurl }}images/github-logo2.png' alt='Github logo'/>
        </span>
    </a>
    <a href='{{ layout.visualStudioUrl }}' target="_blank">
        <span title='Visual Studio Code'>
            <img src='{{ site.baseurl }}images/vsc-logo2.png' alt='Visual Studio Code logo'/>
        </span>
    </a>
    <a href='{{ layout.youtubeUrl }}' target="_blank">
        <span title='YouTube'>
            <img src='{{ site.baseurl }}images/yt-logo.png' alt='YouTube logo'/>
        </span>
    </a>
    <a href='{{ layout.facebookUrl }}' target="_blank">
        <span title='Facebook'>
            <img src='{{ site.baseurl }}images/fb-logo.png' alt='Facebook logo'/>
        </span>
    </a>
    <a href='{{ layout.twitterUrl }}' target="_blank">
        <span title='Twitter'>
            <img src='{{ site.baseurl }}images/twitter-logo.png' alt='Twitter logo'/>
        </span>
    </a>
    <a href='{{ layout.patreonUrl }}' title='Patreon' target="_blank">
        <span title='Patreon'>
            <img src='{{ site.baseurl }}images/patreon-logo.png' alt='Patreon logo'/>
        </span>
    </a>
</nav>