---
layout: default
---

{% include yt-video.html %}

<ul class='feature-meta lozenge'>
{% if page.since %}
<li>
    <span title="the earliest Sempiler version to support this feature">
        since <a href="{{ site.baseurl }}latest#version"><strong>{{ page.since }}</strong></a>
    </span>
</li>
{%  endif %}
{%  if page.targets %}
<li>
    <span title="current Sempiler targets that support this feature">
        targets 
        
        {% for target in page.targets %}
            <a href="{{ site.baseurl }}latest#{{ target | downcase }}">{{ target }}</a>{% if forloop.last == false %},{% endif %}
        {% endfor %}
    </span>
</li>
{%  endif %}
</ul>

{% include divider.html %}

{{ content }}